using System;

namespace NugetPushIssueRepro.StaticAssets
{
    public class IssueTestClass
    {
        public void Write()
        {

            // Using different values to reduce compiler optimization
            // CODE

        }
    }
}